<mat-card fxLayout="column" fxLayoutAlign="center center">
  <div style="height: 30px;"></div>

  <div fxLayout="row" fxLayoutAlign="start center" class="card" style="margin-bottom: 5px;">
    <!-- Title -->
    <div class="title">
      <h1>Address</h1>
    </div>

    <!-- Description -->
    <div fxFlex class="description">
      <ul style="list-style-type:none;">
        <li>First Road, First Avenue</li>
        <li>Tea</li>
      </ul>
    </div>

    <!-- End -->
    <div class="end">
      <h1>TODAY</h1>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" class="card">
    <!-- Title -->
    <div class="title">
      <h1>Address</h1>
    </div>

    <!-- Description -->
    <div fxFlex class="description">
      <ul style="list-style-type:none;">
        <li>First Road, First Avenue</li>
        <li>Tea</li>
      </ul>
    </div>

    <!-- End -->
    <div class="end">
      <h1>TODAY</h1>
    </div>
  </div>

  <div fxFlex></div>

  <app-payment-request style="width: 100%"></app-payment-request>

  <div style="height: 100px"></div>
</mat-card>
