main {
  width: 90%;
  margin: auto;
}

.user-card-container {
  padding: 18px;
}

.checkbox {
  margin: auto;
}

/* mat-card {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23) !important;
} */

/* mat-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

.user-list-card {
  padding-top: 0px;
}

.content {
  margin-right: -16px;
  margin-left: -16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.content p {
  padding-right: 16px;
  padding-left: 16px;
}

.content:hover {
  transition: all 0.3s;
  background: rgb(245, 245, 245);
  cursor: pointer;
}
