/* Mat Cards */
mat-card {
  width: 450px;
  min-width: 350px;
  height: 600px;
  padding: 0;
}

.image {
  background-image: url('https://images.unsplash.com/photo-1565614692402-8c5397a38648?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Selection Title */
.selction-title {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.2em;
  -webkit-font-smoothing: antialiased;
}

/* Payment Card */
/* Title */
.title {
  padding-top: 1em;
}

.title h1 {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0;
  color: #4c4eb5;
  -webkit-font-smoothing: antialiased;
}

/* Selected Plan */
.selected-plan {
  width: 90%;
}

.selected-plan p {
  margin: 0.5em 0;
  padding-left: 12px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: gray;
  -webkit-font-smoothing: antialiased;
}

/* Selected Plan */
.selected-address {
  width: 90%;
  margin-top: 0.5em;
}

.selected-address p {
  margin: 0.5em 0;
  padding-left: 12px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: gray;
  -webkit-font-smoothing: antialiased;
}

/* Payment Element */
app-payment-request {
  width: 90%;
}
