a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: #1a237e;
}

.active {
  font-weight: bold;
  color: #1a237e;
  background: rgba(0, 0, 0, 0.04);
}

.mat-subheader {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 17px;
  font-weight: 400;
}

.app-nav-list-icon {
  margin: 0 12px 0 12px;
}

.nav-caption {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 17px;
  font-weight: 420;
}
