<!-- User Info -->
<div class="user-info">
  <h3>My Mail</h3>
  <h6>{{ email$ | async }}</h6>
</div>

<!-- Navigation List -->
<ng-container *ngIf="{ isSender: isSender$ | async } as data">
  <!-- user navigation list -->
  <mat-nav-list *ngIf="!data.isSender">
    <a mat-list-item routerLink="/mails" routerLinkActive="active">
      <mat-icon matListIcon>inbox</mat-icon>
      <span>Inbox</span>
    </a>
    <a mat-list-item routerLink="/stared" routerLinkActive="active">
      <mat-icon matListIcon>star_border</mat-icon>
      <span>Starred</span>
    </a>

    <mat-divider></mat-divider>
    <title matSubheader>PROCESSING</title>

    <a mat-list-item routerLink="/scanning" routerLinkActive="active">
      <mat-icon matListIcon class="app-nav-list-icon">directions_run</mat-icon>
      <span>Scanning</span>
    </a>

    <mat-divider></mat-divider>
    <title matSubheader>PROCESSED</title>

    <a mat-list-item routerLink="/scanned" routerLinkActive="active">
      <mat-icon matListIcon>drafts</mat-icon>
      <span>Scanned</span>
    </a>
    <a mat-list-item routerLink="/skip-scanned" routerLinkActive="active">
      <mat-icon matListIcon>mail</mat-icon>
      <span>Scan Rejected</span>
    </a>

    <mat-divider></mat-divider>
    <title matSubheader>ACCOUNT</title>

    <a mat-list-item routerLink="/scanned" routerLinkActive="active">
      <mat-icon matListIcon>payment</mat-icon>
      <span>Billing</span>
    </a>
    <a mat-list-item routerLink="/skip-scanned" routerLinkActive="active">
      <mat-icon matListIcon>account_box</mat-icon>
      <span>Settings</span>
    </a>
  </mat-nav-list>

  <!-- sender navigation list -->
  <mat-nav-list *ngIf="data.isSender">
    <!-- mail navigation link -->
    <a mat-list-item routerLink="/create" routerLinkActive="active">
      <mat-icon matListIcon>add_box</mat-icon>
      <span>New</span>
    </a>
    <a mat-list-item routerLink="/mails" routerLinkActive="active">
      <mat-icon matListIcon>send</mat-icon>
      <span>Send</span>
    </a>

    <mat-divider></mat-divider>
    <title matSubheader>PROCESSING</title>

    <a mat-list-item routerLink="/scanning" routerLinkActive="active">
      <mat-icon matListIcon class="app-nav-list-icon">directions_run</mat-icon>
      <span>Waiting For Scan</span>
    </a>

    <mat-divider></mat-divider>
    <title matSubheader>PROCESSED</title>

    <a mat-list-item routerLink="/scanned" routerLinkActive="active">
      <mat-icon matListIcon>drafts</mat-icon>
      <span>Scanned</span>
    </a>
    <a mat-list-item routerLink="/skip-scanned" routerLinkActive="active">
      <mat-icon matListIcon>mail</mat-icon>
      <span>Scan Rejected</span>
    </a>
  </mat-nav-list>
</ng-container>

<!--
<a mat-list-item routerLink="/users" routerLinkActive="active">
    <mat-icon matListIcon class="app-nav-list-icon">contacts</mat-icon>
    <span class="nav-caption">Recipient</span>
</a>

<mat-list-item>
  <button mat-icon-button (click)="onClose()">
    <mat-icon matListIcon class="app-nav-list-icon">account_box</mat-icon>
    <span class="nav-caption">Account</span>
  </button>
</mat-list-item>
-->
