<div>
  <button *ngIf="scan" mat-button color="primary" (click)="onScan()">SCAN</button>
  <button *ngIf="pullbackScan" mat-button color="primary" (click)="onScan()">PULLBACK-SCAN</button>
  <button *ngIf="skipScan" mat-button color="warn" (click)="onSkipScan()">SKIP-SCAN</button>
  <button *ngIf="uploadPdf" mat-button color="primary" (click)="onUploadScan()">UPLOAD-PDF</button>
  <button *ngIf="edit" mat-button color="primary" (click)="onEdit()">EDIT</button>
  <button *ngIf="delete" mat-button color="warn" (click)="onDelete()">DELETE</button>
</div>
