<form [formGroup]="form" (submit)="onSignUp()">
  <!-- first name form control -->
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" />
    <mat-error *ngIf="firstName.invalid && firstName.touched">
      Please enter valid text
    </mat-error>
  </mat-form-field>

  <!-- last name form control -->
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" />
    <mat-error *ngIf="lastName.invalid && lastName.touched">
      Please enter valid text
    </mat-error>
  </mat-form-field>

  <!-- email form control -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email" placeholder="name@mydomain.com" />
    <mat-error *ngIf="email.invalid && email.touched">
      Please enter a valid email
    </mat-error>
  </mat-form-field>

  <!-- password form control -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" />
    <mat-error *ngIf="password.invalid && password.touched">
      Please enter a valid password
    </mat-error>
  </mat-form-field>

  <!-- Expansion Panel For Address Information -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Address Information
        </mat-panel-title>
        <mat-panel-description>
          Please enter your address details
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- address form control -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
        <mat-error *ngIf="address.invalid && address.touched">
          Please enter a valid address
        </mat-error>
      </mat-form-field>

      <!-- address2 form control -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Address 2</mat-label>
        <input matInput formControlName="address2" />
        <mat-error *ngIf="address2.invalid && address2.touched">
          Please enter a valid address
        </mat-error>
      </mat-form-field>

      <!-- city form control -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" />
        <mat-error *ngIf="city.invalid && city.touched">
          Please enter a valid city
        </mat-error>
      </mat-form-field>

      <!-- zip code form control -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Zip Code</mat-label>
        <input matInput formControlName="zipCode" />
        <mat-error *ngIf="zipCode.invalid && zipCode.touched">
          Please enter a valid city
        </mat-error>
      </mat-form-field>

      <!-- country form control -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-select formControlName="country" placeholder="Country">
          <mat-option value="US">United States</mat-option>
          <mat-option value="UK">United Kingdom</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- button to submit -->
  <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">
    Sign Up
  </button>
</form>
