<mat-card fxLayout="column" fxLayoutAlign="space-around center">
  <!-- Title -->
  <div fxFlex></div>
  <h1 class="title">Update Password</h1>

  <!-- Update Password Form -->
  <form [formGroup]="form" (submit)="onReset()" class="reset-password-form" fxLayout="column">
    <!-- password form control -->
    <mat-form-field
      appearance="standard"
      hintLabel="Min 6 chars contains number & letter"
      style="margin-bottom: 1rem"
      fxFlex="100%"
    >
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        type="button"
        style="font-size: 10px;"
        tabindex="-1"
      >
        <mat-icon>{{ hide ? 'lock' : 'lock_open' }}</mat-icon>
      </button>
      <mat-hint align="end">{{ password.value?.length || 0 }}/6</mat-hint>
      <mat-error *ngIf="password.invalid && password.touched">
        Please enter a safer password
      </mat-error>
    </mat-form-field>

    <!-- button to submit -->
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 1rem">
      <button mat-stroked-button color="primary" [disabled]="form.invalid" type="submit">
        UPDATE
      </button>
    </div>
  </form>
  <div fxFlex></div>
</mat-card>
