<mat-nav-list>
  <title matSubheader class="mat-typography">MAIL</title>

  <!-- mail navigation link -->
  <a mat-list-item routerLink="/create" routerLinkActive="active">
    <mat-icon matListIcon class="app-nav-list-icon">add_box</mat-icon>
    <span class="nav-caption">New</span>
  </a>
  <a mat-list-item routerLink="/mails" routerLinkActive="active">
    <mat-icon matListIcon class="app-nav-list-icon">inbox</mat-icon>
    <span class="nav-caption">Mail</span>
  </a>
  <a mat-list-item routerLink="/stared" routerLinkActive="active">
    <mat-icon matListIcon class="app-nav-list-icon">star_border</mat-icon>
    <span class="nav-caption">Stared</span>
  </a>
  <a mat-list-item routerLink="/unread" routerLinkActive="active">
    <mat-icon matListIcon class="app-nav-list-icon material-icons-outlined">scatter_plot</mat-icon>
    <span class="nav-caption">Unread</span>
  </a>
  <a mat-list-item routerLink="/users" routerLinkActive="active">
    <mat-icon matListIcon class="app-nav-list-icon">contacts</mat-icon>
    <span class="nav-caption">Recipient</span>
  </a>

  <mat-divider></mat-divider>

  <title matSubheader class="mat-typography">SETTINGS</title>
  <a mat-list-item routerLinkActive="active">
    <mat-icon matListIcon class="app-nav-list-icon">account_box</mat-icon>
    <span class="nav-caption">Account</span>
  </a>
</mat-nav-list>

<!-- <mat-list-item>
  <button mat-icon-button (click)="onClose()">
    <mat-icon matListIcon class="app-nav-list-icon">account_box</mat-icon>
    <span class="nav-caption">Account</span>
  </button>
</mat-list-item> -->
