/* Mat Card */
mat-card {
  width: 450px;
  min-width: 350px;
  height: 600px;
  padding: 0px;
}

/* Title */
.title {
  font-size: 28px;
  letter-spacing: 0;
  color: #4c4eb5;
  -webkit-font-smoothing: antialiased;
  padding-top: 2em;
  /* padding-bottom: 0.5em; */
}

/* Plan Duration Toggle Switch */
.plan-type-switch p {
  margin-top: 0;
  margin-bottom: 0.2em;
  color: rgb(190, 190, 190);
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
