<ng-container
  *ngIf="{
    isLoading: isLoading$ | async,
    mails: mails$ | async
  } as data"
>
  <!-- Loading Progress Bar -->
  <mat-progress-bar *ngIf="data.isLoading" mode="indeterminate"></mat-progress-bar>

  <!-- Mail List View-->
  <div class="mail-list">
    <!-- expansion-panel display: -->
    <!-- <div *ngIf="!data.isLoading" class="expansion-list-wrapper">
      <mat-accordion>
        <ng-container *ngFor="let mail of data.mails">
          <app-mail-expansion-list-item
            [mail]="mail"
            [imageURL]="(imageURLs$ | async)[mail._id]"
          ></app-mail-expansion-list-item>
        </ng-container>
      </mat-accordion>
    </div> -->

    <!-- card-grid display: -->
    <div *ngIf="!data.isLoading" class="card-grid-wrapper">
      <div *ngFor="let mail of data.mails" fxLayout="row" fxLayoutAlign="space-around">
        <app-mail-card-grid-item [mail]="mail" [imageURL]="(imageURLs$ | async)[mail._id]">
        </app-mail-card-grid-item>
      </div>
    </div>

    <!-- empty maillist placeholder -->
    <div *ngIf="!data.isLoading && !data.mails.length">
      <p style="text-align: center">Empty Mail List</p>
    </div>
  </div>

  <!-- Paginator -->
  <mat-paginator
    *ngIf="data.mails.length"
    [length]="mailCount$ | async"
    [pageSize]="mailsPerPage$ | async"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
  >
  </mat-paginator>
</ng-container>
