/* Plan Card */
.plan-card {
  overflow: hidden;
  height: 6em;
  border-radius: 0.625em;
  cursor: pointer;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.0625em 0.125em 0 rgba(0, 0, 0, 0.06);
}

.plan-card:hover {
  box-shadow: 0 0 0 2pt #5661b3;
}

.plan-card:hover .description {
  background-color: #e6e8ff;
}

/* Plan Title */
.title {
  min-width: 6.25em;
  background-color: #7886d7;
  padding-top: 1.0938em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  text-align: left;
}

.title h1 {
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.title h1 span {
  font-size: 0.3125em;
}

.title p {
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* Plan Description */
.description {
  min-width: 16em;
  background-color: #ffffff; /* #e6e8ff */
  padding: 0 0.5em;
}

.description-text {
  padding: 0 0.5em;
}

.description-text h1 {
  margin: 0;
  font-size: 1.6em;
  font-weight: 400;
  color: #535353;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.description-text h2 {
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
  color: #535353;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
