<mat-card>
  <form [formGroup]="form" (submit)="onConfirm()" class="signup-confirmation-form">
    <!-- password form control -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="password.invalid && password.touched">
        Please enter a valid password
      </mat-error>
    </mat-form-field>

    <!-- button to submit -->
    <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">
      CONFIRM
    </button>
  </form>
</mat-card>
