<!-- Mail List Page -->
<div
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="space-around stretch"
  style="height: 100%;"
>
  <!--Side Navigation -->
  <div
    fxFlex="none"
    fxLayout="column"
    fxLayoutAlign="start center"
    [ngStyle.gt-sm]="{ 'padding-left': '2rem' }"
  >
    <!-- top padding [for desktop screen] -->
    <div fxHide.lt-md style="height: 3rem;"></div>

    <!-- navigation menu -->
    <app-mail-navigation *ngIf="!(isSelectMode$ | async)"></app-mail-navigation>

    <!-- action menu -->
    <app-mail-group-action *ngIf="isSelectMode$ | async"></app-mail-group-action>

    <!-- bottom padding [for mobole screen] -->
    <div fxHide.gt-md style="height: 2rem;"></div>
  </div>

  <!-- Mail List  -->
  <div fxFlex style="overflow: auto;">
    <app-mail-list></app-mail-list>
  </div>
</div>

<!-- https://github.com/angular/flex-layout/wiki/Responsive-API -->
