/* Header */
.header {
  width: 100vw;
  height: 70px;
  background-color: #e3f2fd;
}

/* Header Content */
.container {
  width: 95%;
}

/* Menu */
span {
  /* font */
  color: rgb(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  /* align with material icon */
  vertical-align: middle;
}
