<mat-card>
  <form [formGroup]="form" (submit)="onUpdate()">
    <!-- mail title -->
    <mat-form-field appearance="outline">
      <mat-label>Mail Title</mat-label>
      <input matInput formControlName="title" placeholder="Mail:" />
      <mat-error *ngIf="title.invalid && title.touched">
        Your title does not look right
      </mat-error>
    </mat-form-field>

    <!-- mail decription -->
    <mat-form-field appearance="outline">
      <mat-label>Mail Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="description.invalid && description.touched">
        That content sucks...
      </mat-error>
    </mat-form-field>

    <!-- mail content -->
    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <input matInput formControlName="content" placeholder="e.g. BANK STATEMENT" />
      <mat-error *ngIf="content.invalid && content.touched">
        That content sucks...
      </mat-error>
    </mat-form-field>

    <!-- mail envelop image -->
    <div *ngIf="editMode">
      <button mat-stroked-button type="button" (click)="imagePicker.click()" style="width: 100%">
        Change Envelop Image
      </button>
      <input type="file" #imagePicker (change)="onImagePicked($event)" />
    </div>

    <!-- mail content pdf -->
    <div *ngIf="!editMode">
      <button mat-stroked-button type="button" (click)="pdfPicker.click()" style="width: 100%">
        Upload Mail PDF
      </button>
      <input type="file" #pdfPicker (change)="onPDFPicked($event)" />
    </div>

    <mat-card-actions style="text-align: center">
      <!-- cancel button -->
      <button mat-button color="warn" type="button" (click)="onCancel()">
        CANCEL
      </button>

      <!-- submit button -->
      <mat-spinner-button
        type="submit"
        [options]="form.invalid ? updateBtnDisabled : updateBtn"
      ></mat-spinner-button>
    </mat-card-actions>
  </form>
</mat-card>
