<!-- <mat-card>
  <mat-tab-group mat-stretch-tabs animationDuration="0ms">
    <mat-tab label="USER">
      <app-sign-up-user></app-sign-up-user>
    </mat-tab>

\    <mat-tab label="SENDER">
      <app-sign-up-sender></app-sign-up-sender>
    </mat-tab>
  </mat-tab-group>
</mat-card> -->
<mat-card>
  <form [formGroup]="form" (submit)="onSignUp()" class="sign-up-form">
    <!-- first name form control -->
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="firstName.invalid && firstName.touched">
        Please enter valid text
      </mat-error>
    </mat-form-field>

    <!-- last name form control -->
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="lastName.invalid && lastName.touched">
        Please enter valid text
      </mat-error>
    </mat-form-field>

    <!-- email form control -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="name@mydomain.com" />
      <mat-error *ngIf="email.invalid && email.touched">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <!-- password form control -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
      <mat-error *ngIf="password.invalid && password.touched">
        Please enter a safer password
      </mat-error>
    </mat-form-field>

    <!-- address option control -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Account Type</mat-label>
      <mat-select formControlName="accountType" placeholder="Account Type">
        <mat-option *ngFor="let accountType of accountTypes" [value]="accountType">
          {{ accountType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- button to submit -->
    <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">
      Sign Up
    </button>
  </form>
</mat-card>
