/* buttons style */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* site logo style */
a {
  text-decoration: none;
  color: white;
  padding-left: 1rem;
}

mat-toolbar {
  background-color: rgb(114, 138, 248);
  color: white;
}

/* mat-toolbar {
  position: fixed;
  top: 0;
  margin-bottom: 2rem;
} */
