<header>
  <div class="left">
    <h2>My Mail</h2>
  </div>
  <div class="right">
    <a
      routerLink="/signin"
      routerLinkActive="router-active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="material-icons">fingerprint</i>
      <p>LOGIN</p>
    </a>
    <a routerLink="/signup" routerLinkActive="router-active"
      ><i class="material-icons">person_add</i>
      <p>REGISTER</p>
    </a>
    <!-- <a routerLink="/lock" style="margin-right: 0" routerLinkActive="router-active"
      ><i class="material-icons">lock_open</i>
      <p>LOCK</p>
    </a> -->
  </div>
</header>
