<mat-toolbar>
  <!-- Normal Header View: -->
  <mat-toolbar-row *ngIf="!(isSelectMode$ | async)">
    <!-- button: side navigation toggle -->
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- side logo: Mail -->
    <!-- <span>
      <a routerLink="/mails"> Mail </a>
    </span> -->

    <!-- flex spacer -->
    <!-- <span class="mat-spacer"></span> -->

    <!-- header buttons -->
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="20px">
        <!-- button: settings -->
        <li fxHide.xs>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>

        <!-- button: helps -->
        <!-- <li fxHide.xs>
              <button mat-icon-button>
                <mat-icon>help_outline</mat-icon>
              </button>
            </li> -->

        <!-- button: log out -->
        <li>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>power_settings_new</mat-icon>
          </button>
          <mat-menu #menu>
            <!-- <button mat-menu-item>
              <mat-icon>lock</mat-icon>
              <span>LOCK</span>
            </button> -->
            <button mat-menu-item (click)="onSignOut()">
              <mat-icon>exit_to_app</mat-icon>
              <span>SIGN OUT</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>

  <!-- Mail Action Header View: -->
  <mat-toolbar-row *ngIf="isSelectMode$ | async">
    <button mat-icon-button style="margin-top: -3px;" (click)="onUnSelectAll()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button (click)="onSelectAll()">SELECT ALL</button>
    <div fxFlex></div>
    <button mat-button (click)="onScanAll()">SCAN</button>
    <button mat-button (click)="onSkipScanAll()" color="warn">SKIP SCAN</button>
  </mat-toolbar-row>
</mat-toolbar>
