/* buttons style */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* site logo style */
a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 1rem;
}

mat-toolbar {
  background-color: #e3f2fd;
  color: #ffffff;
  height: 55px;
  z-index: -1;
}

.mat-toolbar-multiple-rows {
  min-height: 55px;
}
