<div (mouseenter)="showToolbar = true" (mouseleave)="showToolbar = false">
  <!-- Mail Action: -->
  <div
    class="mail-grid-item-toolbar"
    [style.visibility]="showToolbar || (isSelectMode$ | async) || menuOpen ? 'visible' : 'hidden'"
  >
    <mat-checkbox
      [checked]="isSelected$ | async"
      class="checkbox"
      (change)="onCheckbox($event)"
    ></mat-checkbox>

    <div fxFlex></div>

    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="menuOpen = true">
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #menu xPosition="before" (closed)="menuOpen = false">
      <button mat-menu-item>
        <mat-icon>flag</mat-icon>
        <span>Report Issue</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete_forever</mat-icon>
        <span>Delete Mail</span>
      </button>
    </mat-menu>
  </div>

  <!-- Mail Card: -->
  <mat-card
    class="mail-grid-item-card"
    [ngStyle]="
      (isSelected$ | async) && {
        'box-shadow': '0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)'
      }
    "
  >
    <!-- card content -->
    <div matRipple class="mail-grid-item-card-content" (click)="onView()">
      <app-image-loading-spinner *ngIf="!imageURL"></app-image-loading-spinner>
      <div *ngIf="imageURL" class="image-container">
        <img [src]="imageURL" [alt]="mail.content" class="image" />
      </div>

      <mat-card-content class="mail-grid-item-card-text">
        <h2>
          {{ mail.title }}
        </h2>

        <h4>
          {{ mail.updatedAt | date: 'mediumDate' }}
        </h4>
      </mat-card-content>
    </div>

    <!-- card action row -->
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <!-- star button -->
      <button mat-icon-button>
        <mat-icon
          *ngIf="!mail.flags.star"
          appDebounceClick
          (debounceClick)="onStar()"
          [debounceTime]="150"
          >star_border
        </mat-icon>
        <mat-icon
          *ngIf="mail.flags.star"
          appDebounceClick
          (debounceClick)="onStar()"
          [debounceTime]="150"
          [ngStyle]="{ color: 'gold' }"
          >star
        </mat-icon>
      </button>

      <!-- action bar -->
      <app-mail-item-action-bar [mail]="mail"></app-mail-item-action-bar>
    </mat-card-actions>
  </mat-card>
</div>
