/* Mat Cards */
mat-card {
  width: 450px;
  min-width: 350px;
  height: 600px;
  padding: 0px;
}

/* Image Card */
.image {
  background-image: url('https://images.unsplash.com/photo-1541253058872-dba3d6bb6d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sign In Form */
.signin-form {
  margin: auto;
  width: 80%;
}

mat-form-field,
textarea {
  width: 100%;
}

/* Error Message: need email confirmation */
.error-message {
  width: 80%;
  margin: 2rem auto;
  border-radius: 3px;
  color: white;
  background-color: rgba(0, 153, 244, 0.9);
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
