mat-card {
  /* width: 50%; */
  margin: auto;
  min-width: 350px;
  max-width: 350px;
}

.signin-form-title {
  text-align: center;
}

mat-form-field,
textarea {
  width: 100%;
}

/* message: need email confirmation */
.error-message {
  width: 340px;
  margin: 1rem auto;
  color: white;
  text-align: center;
  background-color: rgb(0, 152, 242, 0.9);
  border-radius: 3px;
  padding: 5px 20px;
}

.send-confirmation-btn {
  color: salmon;
}
