<mat-card>
  <form [formGroup]="form" (submit)="onAddMail()">
    <!-- recipient -->
    <mat-form-field appearance="outline">
      <mat-select formControlName="receiverList" placeholder="Recipient">
        <mat-option *ngFor="let reciever of receiverList" [value]="reciever">
          {{ reciever }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- mail decription -->
    <mat-form-field appearance="outline">
      <mat-label>Mail Title</mat-label>
      <input matInput formControlName="title" placeholder="Mail:" />
      <mat-error *ngIf="title.invalid && title.touched">
        Your title does not look right
      </mat-error>
    </mat-form-field>

    <!-- mail decription -->
    <mat-form-field appearance="outline">
      <mat-label>Mail Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="description.invalid && description.touched">
        That content sucks...
      </mat-error>
    </mat-form-field>

    <!-- mail content -->
    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <input matInput formControlName="content" placeholder="e.g. BANK STATEMENT" />
      <mat-error *ngIf="content.invalid && content.touched">
        That content sucks...
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">
      Send
    </button>
  </form>
</mat-card>
