/* You can add global styles to this file, and also import other style files */
/* Full Screen Display */
html,
body {
  min-height: 100vh;
  height: 100vh;
}
body {
  margin: 0;
}

/* Snackbar Global Settings */
.info-snackbar {
  color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

.info-snackbar .mat-simple-snackbar-action {
  color: DODGERBLUE;
}

.warning-snackbar {
  color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}
