<mat-card fxLayout="row" fxLayoutAlign="space-around center" class="magic-link">
  <!-- loading spinner -->
  <app-loading-spinner-cube *ngIf="isloading"></app-loading-spinner-cube>

  <!-- success result -->
  <div *ngIf="!isloading && isSucceeded" style="text-align: center">
    <img src="../../../assets/img/success.svg" alt="success icon" />
    <h2 class="title">{{ result }}</h2>
  </div>

  <!-- error result -->
  <div *ngIf="!isloading && !isSucceeded" style="text-align: center">
    <img src="../../../assets/img/alert.svg" alt="alert icon" />
    <h2 class="title">{{ result }}</h2>
  </div>
</mat-card>
