<mat-sidenav-container>
  <!-- app side navigation -->
  <mat-sidenav #sidenav role="navigation" mode="side" opened="true">
    <app-navigation-list></app-navigation-list>
  </mat-sidenav>

  <!-- main app content -->
  <mat-sidenav-content>
    <!-- app header -->
    <div class="header">
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    </div>

    <!-- app page content -->
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
