/* side navigation */

mat-sidenav {
  width: 210px;
  position: fixed;
  /* background-color: hsl(0, 0%, 99%); */
  /* background-color: rgb(255, 255, 255); */
}

.mat-drawer-side {
  border-right: 0px;
}

/* header */
app-header {
  z-index: 1;
  /* width: calc(100% - 210px); */
  /* flex: auto; */
}

mat-sidenav-content {
  background-color: rgb(254, 254, 254);
}

/* mat-sidenav-container {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
} */

/* mat-sidenav-container {
  position: absolute;
  top: 62px;
  left: 0px;
  right: 0px;
  bottom: 0px;
} */

/* main {
  width: 90%;
  margin: 1rem auto;
} */
