/* Mat Card */
mat-card {
  width: 450px;
  min-width: 350px;
  height: 300px;
  padding: 0px;
}

/* Card Title */
.title {
  font-size: 28px;
  letter-spacing: 0;
  color: #4c4eb5;
  -webkit-font-smoothing: antialiased;
}

.subtitle {
  letter-spacing: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: gray;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
}

.forgot-password-form {
  width: 75%;
  margin: auto;
}
