<main>
  <ng-container *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8]">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinc
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</main>
