/* You can add global styles to this file, and also import other style files */

/* Full Screen Display */
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, 'Helvetica Neue', sans-serif; */
}

/* Snackbar Global Setting */
.blue-snackbar {
  background: #2196f3;
}
.green-snackbar {
  background: #1de9b6;
}
.red-snackbar {
  background: #b00020;
  color: white;
}

/* Icon Button Global Setting */
/* button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
  vertical-align: top;
  font-size: 1.25em;
} */
