<div fxLayout="row" fxLayoutAlign="center center">
  <!-- Image Card -->
  <mat-card fxLayout="column" fxLayoutAlign="start center" class="image">
    <div style="width: 90%; text-align: left">
      <h1 style="color:white">
        Enjoy to life without <br />
        delays.
      </h1>
    </div>
  </mat-card>

  <!-- Payment Card -->
  <ng-container
    *ngIf="{
      plan: plan$ | async,
      address: address$ | async,
      mailboxNo: mailboxNo$ | async
    } as data"
  >
    <mat-card fxLayout="column" fxLayoutAlign="start center">
      <!-- Title -->
      <div class="title">
        <h1>Checkout! 🎉</h1>
      </div>

      <!-- Selected Address -->
      <div class="selected-address">
        <p style="text-align: start">SELECTED ADDRESS:</p>
        <app-card-inline color="darkslateblue">
          <div header>
            <h1>Mail</h1>
          </div>

          <div body>
            <ul>
              <li>{{ data.address.line1 }} {{ data.address.line2 }} #{{ data.mailboxNo }}</li>
              <li style="list-style: none; padding-left: 20px;">
                {{ data.address.city }} {{ data.address.zip }}
              </li>
              <li style="list-style: none; padding-left: 20px;">{{ data.address.country }}</li>
            </ul>
          </div>
        </app-card-inline>
      </div>

      <!-- Selected Plan -->
      <div class="selected-plan">
        <p style="text-align: STAR">SELECTED PLAN:</p>
        <app-card-inline color="cornflowerblue">
          <div header>
            <h1>Plan</h1>
          </div>

          <div body>
            <ul>
              <li>{{ data.plan.name }} plan</li>
              <li>
                {{ data.plan.mailCredit === -1 ? 'Unlimit' : data.plan.mailCredit }} free mail per
                month
              </li>
              <li>
                {{ data.plan.scanCredit === -1 ? 'Unlimit' : data.plan.scanCredit }} free mcan per
                month
              </li>
              <li>{{ data.plan.type | titlecase }} subscription</li>
            </ul>
          </div>

          <div tail>
            <h1>{{ data.plan.price / 100 }}/{{ data.plan.type === 'monthly' ? 'M' : 'Y' }}</h1>
          </div>
        </app-card-inline>
      </div>

      <!-- Payment -->
      <div fxFlex></div>
      <app-payment-request
        [amount]="data.plan.price"
        [label]="data.plan.name + ' ' + data.plan.type"
      ></app-payment-request>

      <!-- Back & Next Button -->
      <div fxFlex></div>
      <div style="padding: 1rem; width: 100%;" fxLayout="row" fxLayoutAlign="start">
        <a [routerLink]="" fragment="select-plan">
          <button mat-stroked-button color="primary" style="font-size: 12px">
            BACK
          </button>
        </a>
      </div>
    </mat-card>
  </ng-container>
</div>
