<div>
  <!-- select form control -->
  <mat-card class="selectAddress">
    <mat-form-field>
      <mat-select
        appearance="outline"
        placeholder="Address"
        (selectionChange)="onOptionChange($event.value)"
      >
        <mat-option *ngFor="let address of addressList" [value]="address">
          {{ address.city }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <!-- address card -->
  <app-address-card *ngIf="address" [address]="address" (selected)="onSelect()"></app-address-card>
</div>
