<!-- mail-list body -->
<main>
  <!-- loading-progress-bar -->
  <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
  <!-- expansion-panel display -->
  <mat-accordion *ngIf="!(isLoading$ | async) && mails$ | async as mails">
    <div *ngFor="let mail of mails">
      <app-mail-expansion-list-item
        [mail]="mail"
        [imageURL]="(imageURLs$ | async)[mail._id]"
      ></app-mail-expansion-list-item>
    </div>
  </mat-accordion>
</main>

<!-- paginator -->
<mat-paginator
  [length]="mailCount$ | async"
  [pageSize]="mailsPerPage$ | async"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
>
</mat-paginator>
