/* align header text */
/* restrict title moving upwards when adding button to panel title */
.aligned-headers .mat-expansion-panel-header-title,
.aligned-headers .mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}


div{
  margin-bottom: 1rem;
}

