/* align header text */
/* restrict title moving upwards when adding button to panel title */
.aligned-headers .mat-expansion-panel-header-title,
.aligned-headers .mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}

div {
  margin-bottom: 1rem;
}

mat-expansion-panel {
  border: 1px solid rgb(240, 242, 244);
}

mat-expansion-panel:hover {
  position: relative;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  z-index: 1;
}
