<!-- mail-list body -->
<main>
  <mat-progress-bar *ngIf="isloading" mode="indeterminate"></mat-progress-bar>

  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let mail of mailList; let idx = index"
      [ngStyle]="mail.flags.read && { 'background-color': '#F4F4F7' }"
      (click)="loadImage(mail._id)"
      #panel
    >
      <mat-expansion-panel-header
        fxLayout="row"
        class="aligned-headers"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-panel-title fxFlex>
          <div fxFlex="12">
            <button mat-icon-button class="button-hide">
              <mat-icon
                *ngIf="!mail.flags.star && !panel.expanded"
                appDebounceClick
                (debounceClick)="onStar(mail, $event, idx)"
                [debounceTime]="150"
                class="star-border-btn"
                >star_border</mat-icon
              >
              <mat-icon
                *ngIf="mail.flags.star && !panel.expanded"
                appDebounceClick
                (debounceClick)="onStar(mail, $event, idx)"
                [debounceTime]="150"
                [ngStyle]="{ color: 'gold' }"
                >star</mat-icon
              >
            </button>
          </div>

          <p fxFlex="88">
            {{ mail.title }}
          </p>
        </mat-panel-title>

        <mat-panel-description>
          {{ mail.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngIf="imageURLs[mail._id]" class="post-image">
        <img [src]="imageURLs[mail._id]" [alt]="mail.content" />
      </div>

      <!-- <p>
        {{ mail.content }}
      </p> -->

      <mat-action-row>
        <!-- <button mat-button color="warn" rout>FLAG</button> -->
        <button mat-button color="primary" (click)="onView(mail)" type="button">
          VIEW
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</main>

<!-- paginator -->
<mat-paginator
  [length]="mailCount"
  [pageSize]="mailsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
>
</mat-paginator>
