/* top tool bar */
.mail-grid-item-toolbar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 3rem;
  min-width: 15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* mail card */
.mail-grid-item-card {
  min-width: 15em;
  padding-top: 0;
}

/* mail envelop image */
.image-container {
  height: 12.5em;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* mail card main content */
.mail-grid-item-card-content {
  margin-right: -16px;
  margin-left: -16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.mail-grid-item-card-text {
  padding: 16px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  letter-spacing: 0.1px;
}

.mail-grid-item-card-text h2 {
  margin-bottom: 0;
  color: black;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
}

.mail-grid-item-card-text h4 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  -webkit-font-smoothing: antialiased;
}

.mail-grid-item-card-content:hover {
  transition: all 0.3s;
  background: rgb(245, 245, 245);
  cursor: pointer;
}

.mail-grid-item-card-content:hover .image {
  transition: all 0.3s;
  -webkit-filter: brightness(96%);
  filter: brightness(96%);
}

/* mail card action row */
.mail-grid-item-card button {
  margin-top: -5px;
}
