// https://material.angular.io/guide/theming
// https://material.angular.io/guide/theming-your-components

// https://github.com/Teradata/covalent/blob/develop/src/theme.scss

@import '~@angular/material/theming';

@import './open-sans';
@import './material.icons';

// https://material.angular.io/guide/typography

/*
$custom-typography: mat-typography-config(
  $button: mat-typography-level(14px, 14px, 400)
);
$custom-toolbar-typography: mat-typography-config(
  $title: mat-typography-level(20px, 32px, 400)
);
*/

$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif'
);

@include mat-core($custom-typography);
// @include mat-toolbar-typography($custom-toolbar-typography);

// https://material.io/design/color/the-color-system.html
// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss

@import './mat-variables';
@import './variables';
@import './palette';

$primary: mat-palette($mat-black, 900);
$accent: mat-palette($mat-deep-orange, 500, A100, A400);
$warn: mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

// https://material.angular.io/guide/theming-your-components

// top, right, bottom, and left

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-family: RobotoDraft, "Helvetica Neue", sans-serif;
  font-family: 'Open Sans', sans-serif;
}

/*
.mat-drawer-content {
  overflow: hidden !important;
}
*/

#app-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

// TODO

.list-item-active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  background: rgba(0, 0, 0, 0.04);
}

.crm-navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.crm-command-bar {
  position: fixed;
  top: $mat-toolbar-height-desktop;
  left: 0;
  right: 0;
  z-index: 997;
  height: $crm-command-bar-height-desktop !important;
  min-height: $crm-command-bar-height-desktop !important;

  @media ($mat-xsmall) {
    top: $mat-toolbar-height-mobile;
    height: $crm-command-bar-height-mobile !important;
    min-height: $crm-command-bar-height-mobile !important;
  }

  background-color: #f5f5f5;
}

// $command-bar-sidenav-width: 240px;  // menu item layout
$command-bar-sidenav-width: 160px; // card layout

.crm-command-bar-sidenav {
  margin-top: $mat-toolbar-height-desktop + $crm-command-bar-height-desktop;
  width: $command-bar-sidenav-width !important;

  @media ($mat-xsmall) {
    margin-top: $mat-toolbar-height-mobile + $crm-command-bar-height-mobile;
  }
}

.crm-activity-bar {
  height: $crm-activity-bar-height-desktop !important;
  min-height: $crm-activity-bar-height-desktop !important;

  margin-top: $mat-toolbar-height-desktop + $crm-command-bar-height-desktop;

  @media ($mat-xsmall) {
    height: $crm-activity-bar-height-mobile !important;
    min-height: $crm-activity-bar-height-mobile !important;

    margin-top: $mat-toolbar-height-mobile + $crm-command-bar-height-mobile;
  }

  background-color: transparent;
}
