header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left * {
  color: #fff;
  margin-left: 3rem;
}

.right {
  display: flex;
  margin-right: 3rem;
}

.right a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  /* margin-right: 25px; */
  /* margin-left: 15px; */
  /* margin-right: 5px; */
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 5px;
}

.right p {
  margin-left: 5px;
  font-size: 12px;
  line-height: normal;
  color: #fff;
}

.right i {
  font-size: 20px;
}

.router-active {
  background-color: rgba(255, 255, 255, 0.1);
  /* padding: 15px 18px 15px 15px; */
  padding: 16px 0px 16px 0px;
  border-radius: 1px;
}
